@font-face {
  font-family: muli;
  src: url(./assets/fonts/Muli-SemiBold.woff);
}
@font-face {
  font-family: muliLight;
  src: url(./assets/fonts/Muli-Light.woff);
}

@font-face {
  font-family: mk;
  src: url(./assets/fonts/Bilal-d99MX.otf);
}

@font-face {
  font-family: day;
  src: url(./assets/fonts/coolvetica\ rg.otf);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f2f6ff;
}

.box {
  width: 50%;
  height: 350px;
  background: #dde5f9;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 200px;
  border-radius: 30px;
}

.main {
  width: 95%;
  height: 300px;
  background: rgb(75, 107, 219);
  background: linear-gradient(
    133deg,
    rgba(75, 107, 219, 1) 18%,
    rgba(34, 65, 189, 1) 100%
  );
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.question {
  width: 100%;
  color: white;
  font-family: muli;
  text-align: center;
  font-size: 30px !important;
  margin-top: 11%;
  margin-bottom: 2%;
  line-height: 0 !important;
}

.description {
  width: 100%;
  font-size: 15px !important;
  text-align: center;
  color: white;
  font-weight: 100;
  font-family: muliLight;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 2%;
}

p {
  width: 310px;
}

.mailInput {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input {
  width: 40%;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #c1ccf0;
  outline: none;
  background: #869be3;
  padding-left: 20px;
  padding-right: 60px;
  margin-bottom: 1%;
  color: white;
  font-size: 16px;
  font-family: muliLight;
}

input::placeholder {
  color: #e5eaf8;
}
span {
  position: relative;
}
button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background: white;
  position: absolute;
  right: 6px;
  bottom: -10px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.4s;
  transition: 0.3s;
}

button:hover {
  background: #b2c0ed;
  transform: translate(2px);
}

.avatars {
  width: 100%;
  height: 80px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.avatarOne {
  width: 60px;
  height: 60px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/img/1.jpg");
  display: flex;
  background-size: cover;
  border-radius: 100%;
  margin-right: 40px;
  border: 6px solid white;
  box-shadow: rgba(50, 50, 93, 0.237) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.183) 0px 8px 16px -8px;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.avatarTwo {
  width: 60px;
  height: 60px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/img/3.jpg");
  display: flex;
  background-size: cover;
  border-radius: 100%;
  margin-right: 40px;
  border: 6px solid white;
  box-shadow: rgba(50, 50, 93, 0.237) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.183) 0px 8px 16px -8px;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.avatarThree {
  width: 60px;
  height: 60px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/img/4.jpg");
  display: flex;
  background-size: cover;
  border-radius: 100%;
  margin-right: 40px;
  border: 6px solid white;
  box-shadow: rgba(50, 50, 93, 0.237) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.183) 0px 8px 16px -8px;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.avatarFour {
  width: 60px;
  height: 60px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/img/2.jpg");
  display: flex;
  background-size: cover;
  border-radius: 100%;
  margin-right: 40px;
  border: 6px solid white;
  box-shadow: rgba(50, 50, 93, 0.237) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.183) 0px 8px 16px -8px;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.avatarFive {
  width: 60px;
  height: 60px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/img/5.jpg");
  display: flex;
  background-size: cover;
  border-radius: 100%;
  border: 6px solid white;
  box-shadow: rgba(50, 50, 93, 0.237) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.183) 0px 8px 16px -8px;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.designBy {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: #a2b1d4;
}

.designBy p {
  width: 100% !important;
  font-family: mk;
  font-size: 35px !important;
}

.designBy h1 {
  font-family: muli;
  font-size: 20px !important;
}

.day {
  font-family: day !important;
}

@media screen and (max-width: 992px) {
  .box {
    width: 100%;
    height: 100vh;
    background: #dde5f9;
    border-radius: 0px;
    overflow: hidden;
    margin-bottom: 0;    
  }
  .main {
    width: 100%;
    height: 100vh;
    background: rgb(75, 107, 219);
    background: linear-gradient(
      133deg,
      rgba(75, 107, 219, 1) 18%,
      rgba(34, 65, 189, 1) 100%
    );
    border-radius: 0px;
    overflow: hidden;
  }

  .avatars {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 90px;
    padding-left: 9%;
  }

  .avatarOne,
  .avatarTwo,
  .avatarThree,
  .avatarFour,
  .avatarFive {
    width: 60px;
    height: 60px;
    border: 3px solid white;
  }

  .question {
    width: 100%;
    color: white;
    font-family: muli;
    text-align: center;
    font-size: 35px !important;
    margin-top: 18%;
    line-height: 1.5 !important;
  }

  .description {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: 100;
    font-family: muliLight;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  input {
    width: 70%;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #c1ccf0;
    outline: none;
    background: #869be3;
    padding-left: 20px;
    padding-right: 60px;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-family: muliLight;
  }
  input::placeholder {
    font-size: 14px;
    color: #e5eaf8;
  }

  .designBy {
    color: #7b96f3;
  }

  .designBy p {
    width: 100% !important;
    font-family: mk;
    font-size: 21px !important;
  }

  .designBy h1 {
    font-family: muli;
    font-size: 18px !important;
  }
}

@media screen and (max-width: 480px) {
  .question {
    width: 100%;
    color: white;
    font-family: muli;
    text-align: center;
    font-size: 35px !important;
    margin-top: 11%;
    line-height: 1.5 !important;
  }

  .designBy {
    color: #7b96f3;
  }

  .designBy p {
    width: 100% !important;
    font-family: mk;
    font-size: 18px !important;
  }

  .designBy h1 {
    font-family: muli;
    font-size: 16px !important;
  }
}
